/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/************* CSS UTILS ************/

body {
    font-family: sans-serif;
    color: black;
}

.container-1100,
.container-900 {
    margin: 0 auto;
}

.container-1100 {
    width: 1100px;
}

.container-900 {
    width: 900px;
}

.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.debug .header,
.debug .nav-left,
.debug .nav-right,
.debug .jumbotron,
.debug .column-right,
.debug .column-left,
.debug h1 {
    border: 2px dashed black;
}

/************** CSS HEADER **************/
.header {
    padding: 1rem 0;
}

.header ul {
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: gray;
    padding: 1rem;
}

/***************** MAIN *************/
section.jumbotron {
    background-color: #B4D0E7;
}

.jumbotron .column-left {
    width: 40%;
}

.jumbotron .column-right {
    width: 60%;
}

.jumbotron h1 {
    padding: 2rem 0;
    font-size: 4rem;
    font-weight: 800;
}

.jumbotron p {
    padding: 1rem 0;
}

.jumbotron a {
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 0.5rem;
}


