/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --xxs:1rem;
    --xs:1.5rem;
    --sm:2rem;
    --md:2.5rem;
    --lg:3rem;
    --xl:4rem;
    --xxl:5rem;
}

/************* CSS UTILS ************/

body {
    font-family: sans-serif;
    color: black;
}

.container-1100,
.container-900 {
    margin: 0 auto;
}

.container-1100 {
    max-width: 1100px;
}

.container-900 {
    max-width: 900px;
}

.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.ta-center {
    text-align: center;
}

.brd {
    border: 1px solid gray;
}

.brd-bottom {
    border-bottom: 1px solid gray;
}

h2 {
    font-size: var(--sm);
}

.c-gray {
    color: gray;
}

.pdn {
    padding: var(--xxs) 0;
}

.f-wrap {
    flex-wrap: wrap;
}

.gap {
    gap: var(--sm);
}

.bg-lgray {
    background-color: #F5F5F5;
}

.bg-green {
    background-color: #A2D39B;
}

.bg-magenta {
    background-color: #61082B;
}

.bg-dodger {
    background-color: #0093CE;
}

.bg-red {
    background-color: #D5001F;
}

.bg-l-blue {
    background-color: #B4D0E7;;
}

.bg-blue {
    background-color: #0D2481;
    padding: var(--xxs) var(--xs);
}

.bg-yellow {
    background-color: #FFD830;
}

.h-16 {
    height: 16.66666vw;
}

.btn-blue {
    color: white;
    background-color: #0061FF;
    padding: var(--xxs) var(--xs);
}
/************** CSS HEADER **************/
.header {
    padding: var(--xxs) var(--xxs);
    position: fixed;
    background-color: white;
    width: 100%;
}

.header ul {
    list-style-type: none;
}

.header a {
    text-decoration: none;
    color: gray;
    padding: var(--xxs);
    font-size: var(--xs);
}

.header a:hover {
    border-bottom: 1px solid gray;
    position: relative;
    top: 0.5rem;
}
/***************** MAIN *************/
main {
    padding-top: var(--xxl);
}
/************ SECTION JUMBO ***********/
section.jumbotron {
    background-color: #B4D0E7;
    padding-top: var(--sm);
}

section.business {
    margin-top: var(--lg);
}

.jumbotron .column-left {
    width: 30%;
}

.jumbotron .column-right {
    width: 70%;
}

.jumbotron h1 {
    padding: var(--xxs) 0;
    font-size: var(--xl);
    font-weight: 800;
}

.jumbotron p {
    padding: var(--lg) 0;
    line-height: var(--xs);
}

.jumbotron img {
    width: 100%;
    height: 100%;
    position: relative;
    top: var(--lg);
}

.jumbotron a {
    color: black;
}

.jumbotron i {
    font-size: var(--md);
}
/************** FINE SECTION JUMBO *********/

/*************** SECTION BUSINES/BUSINES CONTENT ************/
.business h2 {
    padding: 6rem 0 var(--lg);
    font-size: var(--md);
}

.business input {
    margin-bottom: var(--sm);
}

.business-content > div {
    width: calc(100% / 3 - var(--sm));
    gap: 0.5rem;
}

.business-content .singolo > div,
.business-content .team > div,
.business-content .azienda > div,
.business-content h3,
.business-content p,
.business-content h5
 {
    padding: var(--xxs) var(--sm);
}

.business-content i {
    margin-left: -1rem;
}

.business-content button {
    position: relative;
    left: 35px;
}

.business-content hr {
    width: 20%;
    position: relative;
    left: var(--sm);
}

.azienda .btn-blue {
    padding: var(--xxs) var(--xl);
}

.business-bottom {
    padding-top: var(--sm);
}

.enterprise-content > .flex {
    padding: var(--xxs) var(--xs);
}

.enterprise-content .column-left {
    width: 70%;
}

.enterprise-content .column-right {
    width: 25%;
}

.enterprise-content h5 {
    padding: var(--xxs) 0;
}

.enterprise-content p {
    padding: var(--sm) 0;
}
/************** FINE SECTION BUSINESS **********/

/************* SECTION PARTNER *************/
.partner {
    padding: var(--xxl) 0;
}

.partner img {
    width: 100%;
    height: 100%;
}

.partner .column-left {
    width: 60%;
}

.partner .column-right {
    width: 40%;
    padding: var(--lg);
}

.column-right > h3 {
    line-height: var(--xs);
}

.column-right > p {
    padding: var(--sm) 0;
    line-height: 1.3rem;
    font-size: 0.9rem;
}

.column-right > button {
    padding: 0.5rem var(--xxs);
}
/************** FINE SECTION PARTNER *********/

/************** SECTION DROPBOX BUSINESS *******/
.dropbox-business > .flex > div {
    width: calc(100% / 3 - var(--sm));
    padding: var(--sm) 0;
}

.dropbox-business img {
    width: 100%;
}

.dropbox-business h3 {
    padding: var(--xs) 0;
}

.dropbox-business-bottom h2 {
    padding-top: var(--xxl);
    padding-bottom: var(--lg);
    padding-right: 20rem;
}
/************** FINE SECTION DROPBOX BUSINESS *******/

/************** SECTION SPONSOR *******/
section.sponsor {
    padding-top: var(--xxl);
}

.sponsor-center {
    padding: var(--sm);
}

.sponsor-left,
.sponsor-right,
.sponsor-center {
    width: calc(100% / 3);
}

.sponsor-left > div,
.sponsor-right > div {
    width: calc(100% / 2);
}

.sponsor .sponsor-left img,
.sponsor .sponsor-right img {
    width: 100%;
    height: 100%;
    padding: 0 var(--md);
    filter: invert(1);
}

img#u-florida {
    padding: 7rem var(--xxs);
}

.sponsor-center img {
    width: 250px;
}

.sponsor-center > hr {
    margin: var(--sm) 0;
    width: 20%;
}

.sponsor-center > address {
    font-family: sans-serif;
    padding: var(--sm) 0;
}

.sponsor .h-16:hover{
    border: var(--xs) solid white;
}

.h-16:hover img{
    filter: invert(0);
    transition: 1s linear;
    transform: scale(1.1);
}
/************** FINE SECTION SPONSOR *******/

/************** SECTION BG BLUE *******/
section.bg-lblue {
    background-color: #B4D0E7;
}

.bg-lblue > div {
    padding: 8rem 0;
}

.bg-lblue h2 {
    width: 50%;
    color: #69082B;
    font-size: 2.3rem;
}

.bg-lblue button {
    padding: 0.7rem var(--lg);
    align-self: flex-start;
}
/**************FINE SECTION BG BLUE *******/

/************** SECTION QUESTION *******/
section.question {
    padding-bottom: 10rem;
}

section.question h2 {
    padding: var(--xxl) 0;
}

section.question > div {
    padding: var(--lg) 0;
}

section.question .d-none {
    display: none;
}

.hover:hover .d-none {
    display: block;
    padding-top: var(--sm);
}

.hover:hover i {
    transform: rotate(0.5turn);
}
/************** FINE SECTION QUESTION *******/

/************** CSS FOOTER  *************/
footer {
    background-color: black;
    color: white;
    padding: var(--xxl) 0;
}

.footer-top ul {
    list-style-type: none;
}

.footer-top a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.footer-top li {
    padding: var(--xxs) 0;
}

.footer-top h4 {
    font-size: var(--xs);
}

.footer-top {
    padding-bottom: var(--xxl);
}

footer hr {
    width: 15%;
}

.footer-bottom > select {
    background-color: black;
    color: white;
    border: none;
    margin-top: var(--lg);
}